.HEADER_DIV_H1{
    background-color: rgb(43, 13, 50);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.HEADER_DIV_H1_H1{
    text-decoration: none;
    color: white;
    padding: 20px;
    font-size: 30px;
    text-align: justify;
    text-wrap: wrap;
    word-wrap: break-word;
}
@media screen and (max-width: 425px) {
    .HEADER_DIV_H1{
        justify-content: center;
    }  
    .HEADER_DIV_H1_H1{
        text-align: center;
        font-size: 24px;
    }
}